<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightstreamer.simple_demo.android"
    android:versionCode="10"
    android:versionName="2.0" >

    <!--  who does not need internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
       
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.lightstreamer.simple_demo.android.StockListDemoApplication">
        
        <activity
            android:name=".StockListDemo"
            android:label="@string/app_name" 
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
